<ul id="share-this">
	<li>
		<span  class='st_email_hcount' displayText='Email'></span>
	</li>
	<li>
		<span  class='st_twitter_hcount' displayText='Tweet'></span>
	</li>
	<li>
		<span  class='st_facebook_hcount' displayText='Facebook'></span>
	</li>
</ul>