config/database.yml
config/*.sphinx.conf
config/s3_credentials.yml
*~
*.cache
*.log
*.pid
tmp/**/*
.DS_Store
db/cstore/**
db/sphinx/**
doc/api
doc/app
doc/plugins
doc/*.dot
coverage/*
db/*.sqlite3
*.tmproj
*.sw?
public/stylesheets
public/upload
upload/development/file_versions/1/Eoro_Oil_Calculator.xls
upload/development/file_versions/2/Curriculum_vitae.pdf
upload/development/file_versions/3/Curriculum_vitae.pdf
upload/development/file_versions/4/Eoro_Oil_Calculator.xls
upload/development/files/3/Curriculum_vitae.pdf
upload/development/files/4/Eoro_Oil_Calculator.xls
test/fixtures/panels.yml
test/unit/panel_test.rb