	<footer>
		<%= render_footer_nav %>
	</footer>
</div>
<%= javascript_include_tag 'jquery.core', 'jquery.slider', 'jquery.hashchange', 'jquery.easytabs', 'application' %>
<%= yield :javascript %>
<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'ec2cf3ed-c13d-4c88-8b8d-ded14873946c'});</script>
</body>
</html>